@import "styles/scss";

.wrapper {
    @extend .sectionWrapper;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: rem(70);
    z-index: 2;

    @include respond(xl) {
        gap: rem(20);
    }

    @include respond(lg) {
        flex-direction: column;
    }

    .projectCard {
        position: relative;
        display: flex;
        flex-direction: column;
        width: calc(50% - rem(35));
        border: 1px solid rgba($color: #fff, $alpha: 0.1);
        box-shadow: rgba(255, 255, 255, 0.1) 0 0 rem(20) rem(1);
        background: rgba($color: #fff, $alpha: .03);
        padding: rem(40);
        z-index: 1;

        @include respond(xl) {
            width: calc(50% - rem(10));
        }

        @include respond(lg) {
            width: 100%;
        }

        .header {
            display: flex;
            gap: rem(15);

            .projectNumber {
                font-size: rem(55);
                line-height: rem(50);
                opacity: .4;
            }

            .info {
                * {
                    display: block;
                }

                .projectName {
                    font-size: rem(20);
                }

                .year {
                    font-size: rem(14);
                }
            }
        }

        .description {
            font-size: rem(14);
            margin-top: rem(15);
        }

        .technologies {
            margin-top: rem(15);
            display: flex;
            flex-wrap: wrap;
            gap: rem(10);

            .technology {
                background-color: rgba($color: #fff, $alpha: .3);
                font-size: rem(14);
                color: white;
                padding: rem(5) rem(10);
                border: 1px solid rgba($color: #fff, $alpha: .4);
            }
        }

        .twicth {
            display: flex;
            margin-top: rem(20);
            font-size: rem(14);
            align-items: center;
            gap: rem(5);
            color: white;
            text-decoration: none;
            width: fit-content;
            margin-bottom: rem(50);
        }

        .repositoryBtns {
            display: flex;
            gap: rem(20);
            margin-top: auto;
            font-size: rem(14);
        }
    }
}