@import '~scss';

html,
body {
    background: $bg-color ;
    color: $text-white;
    margin: 0;
}

* {
    margin: 0;
    padding: 0;
    // box-sizing: border-box;
}

.sectionsWrapper {
    margin: 0 rem(100);
}