@import "styles/scss";

.titleWrapper {
    width: fit-content;

    * {
        margin: 0
    }

    .subtitle {
        font-size: rem(14)
    }

    .title {
        @extend .gradientText;
        font-size: rem(150);
        line-height: rem(110);
        letter-spacing: rem(5);
        text-transform: uppercase;
    }
}