@import "styles/scss";

.wrapper {
    @extend .sectionWrapper;

    * {
        text-align: center;
    }

    .title {
        text-transform: uppercase;
        font-size: rem(50);
        font-weight: bold;

        @media only screen and (max-width: rem(1300)) {
            font-size: rem(40);
        }

        @include respond(xl) {
            font-size: rem(30);
            line-height: rem(40);
        }

        @include respond(lg) {
            font-size: rem(25);
        }

        @include respond(sm) {
            font-size: rem(18);
        }

        @include respond(xs) {
            font-size: rem(15);
        }
    }

    .description {
        max-width: rem(945);
        margin: 0 auto;
        font-size: rem(15);
        font-weight: 300;

        @media only screen and (max-width: rem(1300)) {
            max-width: rem(880);
        }

        @include respond(xl) {
            max-width: rem(760);
            margin-top: rem(25);
        }

        @include respond(sm) {
            font-size: rem(14);
            margin-top: rem(20);
        }
    }

    .secondParagraph {
        margin-top: rem(10);
    }

    .button {
        margin: rem(30) auto 0 auto;
    }
}