@import "styles/scss";

.navbar {
    position: fixed;
    z-index: 1;
    width: 100%;
    justify-content: end;
    transition: .3s all ease-in-out;

    &.scrolled {
        background: $bg-color;
    }

    .navLinks {
        display: flex;
        gap: rem(10);
        padding: 0;
        list-style: none;
        float: right;
        margin: 0 rem(100) 0 0;


        .link {
            position: relative;
            padding: rem(40) rem(20) rem(20) rem(20);
            font-size: rem(14);
            text-transform: uppercase;
            font-weight: 300;
            transition: .3s all ease-in;
            cursor: pointer;

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                background-color: white;
                width: 100%;
                height: 0;
                transition: .5s all ease-out;
                z-index: -1;
            }

            &:hover {
                color: $text-black;

                &::before {
                    height: 100%;
                }
            }
        }
    }
}