.container {
    margin: 0 rem(100);
}

.gradientText {
    background: linear-gradient(90deg, #7C7C7C 0%, rgba(124, 124, 124, 0.00) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}