@import "./mixins.scss";

.container {
    margin: 0 rem(100);
}

.gradientText {
    background: linear-gradient(90deg, #7C7C7C 0%, rgba(124, 124, 124, 0.00) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.title {
    font-size: rem(150);
    line-height: rem(110);
    letter-spacing: rem(5);
    text-transform: uppercase;
    font-weight: 400;
}

.sectionWrapper {
    margin: rem(170) rem(100);

    @include respond(md) {
        margin: rem(170) rem(25);
    }
}