$font-title: var(--font-zillaSlab);
$font-body: var(--font-montserrat);

$bg-color: #000;
$bg-color-hover: #fff;

$text-white: #fff;
$text-black: #000;
$text-gray: #666666;
$gradient-1: linear-gradient(90deg, #7C7C7C 0%, rgba(124, 124, 124, 0.00) 100%);